.nav {
  background-color: #128494;
  padding: 1em;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-bottom: 1em;
}

.buttons {
  background-color: #093a41;
  color: aliceblue;
}
