.container {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.form {
  padding: 1em;
  margin-top: 8em;
  background-color: rgb(29, 201, 144);
  border-radius: 20px;
  border: 1px;
  border-color: rgb(14, 84, 61);
  width: 18em;
  height: 18em;
}

.submit {
  width: 177px;
  border-radius: 10px;
}

.inputs {
  border-radius: 10px;
}
