.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  border-radius: 1.5em;
  border-color: #128494;
  border-style: solid;
  border-width: 2px;
  width: 18em;
  height: 3em;
  background-color: #00b7c2;
  margin-right: 3em;
}

.input {
  border: 0px;
  border-radius: 15px 0px 0px 15px;
  background-color: #ecfeff;
  /* margin: 10px; */
  padding: 5px;
  padding-left: 10px;
}

.addButton {
  border: 0px;
  border-radius: 0px 15px 15px 0px;
  background-color: #ecfeff;
  /* margin: 10px; */
  padding: 5px;
}
